<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuring the XML file -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- First creating object of Person class -->
	<!--  <bean name="person" class="com.hasIs.Person"
		p:person_name="Ambika">
		<property name="address">
			<bean name="address" class="com.hasIs.Address"
				p:pincode="591201" p:city="Ankola">
			</bean>
		</property>
	</bean> -->
	
	<!-- First creating object of Address class -->
	<bean name="address1" class="com.hasIs.Address" p:pincode="456165"
		p:city="Chikodi">
	</bean>
	<bean name="person" class="com.hasIs.Person"
		p:person_name="Ambarish">
		<property name="address">
			<ref bean="address1"></ref>
		</property>
	</bean>

</beans>