<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuring the XML file -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="company" class="referenceInjection.Companuy">
		<constructor-arg value="LTIMindtree">
		</constructor-arg>
		<constructor-arg>
			<bean name="employee" class="referenceInjection.Employee">
				<constructor-arg value="678"></constructor-arg>
				<constructor-arg value="ambi"></constructor-arg>
				<constructor-arg>
					<list>
						<value>project1</value>
						<value>project2</value>
					</list>
				</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>

</beans>