<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuring the XML file -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="sample1" class="consturctorAmbiguity.Sample">
		<constructor-arg value="10" type="int"></constructor-arg>
		<constructor-arg value="20" type="int"></constructor-arg>
	</bean>
	<bean name="sample2" class="consturctorAmbiguity.Sample">
		<constructor-arg value="10.0" type="double"></constructor-arg>
		<constructor-arg value="20.0" type="double"></constructor-arg>
	</bean>
	<bean name="sample3" class="consturctorAmbiguity.Sample">
		<constructor-arg value="10" type="String"></constructor-arg>
		<constructor-arg value="20" type="String"></constructor-arg>
	</bean>

</beans>